.brands{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  position: relative;

  &_logo{
    width: 25%;

    display: block;
    margin: 0 auto;
    position: relative;

    @mixin atSmall{
      width: 30%;
    }
  }
}
.provideflow{
  p{
    padding: 0;
    margin: 0;
  }
  a{
    font-weight: 200;
    color: #000;
  }
}
