footer.container-fluid.container--black
  .container
    img(src="img/Logo/logo-white.svg" alt="Natural Stuff Inc")
    p Copyright © 2018 Natural Stuff Inc. 
.container-fluid.provideflow
  p.text-center 
    a(href="http://provideflow.com/" target="_blank") Designed by Provideflow.com 
