//Social Info Bar 
.info-social-icons
  //- h4 Follow us on
  //- ul.social-icons
  //-   li
  //-     a.social-icon(href='')
  //-       i.fa.fa-facebook
    //- li
    //-   a.social-icon(href='')
    //-     i.fa.fa-twitter
    //- li
    //-   a.social-icon(href='')
    //-     i.fa.fa-rss
    //- li
    //-   a.social-icon(href='')
    //-     i.fa.fa-youtube
    //- li
    //-   a.social-icon(href='')
    //-     i.fa.fa-linkedin
    //- li
    //-   a.social-icon(href='')
    //-     i.fa.fa-google-plus
  h4 Contact us at&nbsp;
    a(href="mailto:info@naturalstuff.com")
      | info@naturalstuff.com
