//Mobile Menu
.slide-menu
  img.slide-menu_img(src="img/Logo/logo2.svg" alt="Natural Stuff Inc logo")
  ul.slide-menu_list
    li
      a.slide-menu_item.hvr-float-shadow(href="/") Home
    li
      a.slide-menu_item.hvr-float-shadow(href="/#aboutus") About Us
    li
      a.slide-menu_item(href="javascript:void(0)") Products
      ul.slide-menu_list
        li
          a.slide-menu_item.hvr-float-shadow(href="28black.html") 28 Black
        li
          a.slide-menu_item.hvr-float-shadow(href="28drinks.html") 28 Drinks
        li
          a.slide-menu_item.hvr-float-shadow(href="28icetea.html") 28 Ice Tea
        li
          a.slide-menu_item.hvr-float-shadow(href="canada-geese.html") Canada Geese
    li
      a.slide-menu_item.hvr-float-shadow(href="orders.html") Orders
    li
      a.slide-menu_item.hvr-float-shadow(href="contact.html") Contact
