html(lang="en")
  head
    block vars
    title #{title} | Natural Stuff Inc.
    meta(charset="UTF-8")
    meta(name="description" content="Natural Stuff Inc. is a sales and distribution company in Canada.")
    meta(name="keywords" content="28 Black, 28 Drinks, 28 Ice Tea, drinks, distribution, sale")
    meta(name="author" content="ProvideFLow")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" href="favicon.ico")
    
    script(src="/js/index.js")
    link(href='/css/styles.css', rel='stylesheet')
  body
    block content
