extends modules/main_layout.pug

block vars
  - var title = "Home Page"

block content
  .container-fluid.container--background
    .container
      .display-between
        include modules/_nav-bar.pug
        .jumbotron
          h1.display-4.text-center.bold Welcome to #[span Natural Stuff]!
          p.lead.text-center
            | Natural Stuff Inc. has been distributing 
            | high-quality, value products for over 20 years. Since 1994, our family-owned business 
            | and delivery system have been satisfying grocery, gas station, chain, discount 
            | department, drug and convenience store customers. We always value feedback
            hr.my-4
          p.text-center
            | Natural Stuff Inc. is always searching for new and exciting 
            | snack food &amp; drink products to boost in-store sales and 
            | drive business.
          p.lead.text-center
            a.btn.btn-warning.btn-lg(href='#', role='button') Order Now!
        .arrow
          svg#arrow(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 417.6 237.2')
            polyline(fill='none', stroke='#DFA726', stroke-width='50', stroke-linecap='round', stroke-miterlimit='10', points='37.9,29 208.7,199.8 379.7,28.8 ')
  .container-fluid.container--black
    .container
      .row
        .col-sm-12
          h1.display-4.text-center Products #[span We Carry]!
            hr.my-4
      .row
        .col-sm-6.list-28black
          a(href="28black.html")
            img.brands_logo(src="img/28black/Logo/28_Black_Logo_White.svg" alt="28BLACK Logo")
            .list  
              .list_product
                picture
                  source(srcset="img/28black/Acai/large_809w.png 809w, img/28black/Acai/large_1618w.png 1618w" media="(min-width: 1200px)")
                  source(srcset="img/28black/Acai/medium_350w.png 350w, img/28black/Acai/medium_700w.png 700w" media="(min-width: 900px)")
                  source(srcset="img/28black/Acai/small_200w.png 200w, img/28black/Acai/small_400w.png 400w" media="(min-width: 500px)")
                  img(srcset="img/28black/Acai/smaller_120w.png 120w, img/28black/Acai/smaller_240w.png 240w" alt="Açaí")
              .list_product
                picture
                  source(srcset="img/28black/SourMango/large_809w.png 809w, img/28black/SourMango/large_1618w.png 1618w" media="(min-width: 1200px)")
                  source(srcset="img/28black/SourMango/medium_350w.png 350w, img/28black/SourMango/medium_700w.png 700w" media="(min-width: 900px)")
                  source(srcset="img/28black/SourMango/small_200w.png 200w, img/28black/SourMango/small_400w.png 400w" media="(min-width: 500px)")
                  img(srcset="img/28black/SourMango/smaller_120w.png 120w, img/28black/SourMango/smaller_240w.png 240w" alt="Sour Mango Kiwi")
              .list_product
                picture
                  source(srcset="img/28black/Classic/large_809w.png 809w, img/28black/Classic/large_1618w.png 1618w" media="(min-width: 1200px)")
                  source(srcset="img/28black/Classic/medium_350w.png 350w, img/28black/Classic/medium_700w.png 700w" media="(min-width: 900px)")
                  source(srcset="img/28black/Classic/small_200w.png 200w, img/28black/Classic/small_400w.png 400w" media="(min-width: 500px)")
                  img(srcset="img/28black/Classic/smaller_120w.png 120w, img/28black/Classic/smaller_240w.png 240w" alt="Classic")
        .col-sm-6.list-28drinks
          a(href="28drinks.html")
            img.brands_logo(src="img/28drinks/Logo/28_DRINKS_White.svg" alt="28DRINKS Logo")
            .list
              .list_product
                picture
                  source(srcset="img/28drinks/Acai/large_504w.png 504w, img/28drinks/Acai/large_1008w.png 1008w" media="(min-width: 1200px)")
                  source(srcset="img/28drinks/Acai/medium_250w.png 250w, img/28drinks/Acai/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/28drinks/Acai/small_150w.png 150w, img/28drinks/Acai/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/28drinks/Acai/smaller_80w.png 80w, img/28drinks/Acai/smaller_160w.png 160w" alt="Açaí")
              .list_product  
                picture
                  source(srcset="img/28drinks/BitterLemon/large_504w.png 504w, img/28drinks/BitterLemon/large_1008w.png 1008w" media="(min-width: 1200px)")
                  source(srcset="img/28drinks/BitterLemon/medium_250w.png 250w, img/28drinks/BitterLemon/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/28drinks/BitterLemon/small_150w.png 150w, img/28drinks/BitterLemon/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/28drinks/BitterLemon/smaller_80w.png 80w, img/28drinks/BitterLemon/smaller_160w.png 160w" alt="Bitter Lemon")
              .list_product
                picture
                  source(srcset="img/28drinks/Ginger/large_504w.png 504w, img/28drinks/Ginger/large_1008w.png 1008w" media="(min-width: 1200px)")
                  source(srcset="img/28drinks/Ginger/medium_250w.png 250w, img/28drinks/Ginger/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/28drinks/Ginger/small_150w.png 150w, img/28drinks/Ginger/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/28drinks/Ginger/smaller_80w.png 80w, img/28drinks/Ginger/smaller_160w.png 160w" alt="Ginger Ale")
              .list_product  
                picture
                  source(srcset="img/28drinks/Grape/large_504w.png 504w, img/28drinks/Grape/large_1008w.png 1008w" media="(min-width: 1200px)")
                  source(srcset="img/28drinks/Grape/medium_250w.png 250w, img/28drinks/Grape/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/28drinks/Grape/small_150w.png 150w, img/28drinks/Grape/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/28drinks/Grape/smaller_80w.png 80w, img/28drinks/Grape/smaller_160w.png 160w" alt="Pink Grapefruit Mint")
      .row
        .col-sm-6.list-28icetea
          a(href="28icetea.html")
            img.brands_logo(src="img/IceTea/Logo/icetea-white.svg" alt="28ICETEA Logo")
            .list  
              .list_product
                picture
                  source(srcset="img/IceTea/BB/large_376w.png 376w, img/IceTea/BB/large_752w.png 752w" media="(min-width: 1200px)")
                  source(srcset="img/IceTea/BB/medium_200w.png 200w, img/IceTea/BB/medium_400w.png 400w" media="(min-width: 900px)")
                  source(srcset="img/IceTea/BB/small_150w.png 150w, img/IceTea/BB/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/IceTea/BB/smaller_70w.png 70w, img/IceTea/BB/smaller_140w.png 140w" alt="Blueberry White Tea")
              .list_product  
                picture
                  source(srcset="img/IceTea/L/large_376w.png 376w, img/IceTea/L/large_752w.png 752w" media="(min-width: 1200px)")
                  source(srcset="img/IceTea/L/medium_200w.png 200w, img/IceTea/L/medium_400w.png 400w" media="(min-width: 900px)")
                  source(srcset="img/IceTea/L/small_150w.png 150w, img/IceTea/L/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/IceTea/L/smaller_70w.png 70w, img/IceTea/L/smaller_140w.png 140w" alt="Lemon")
              .list_product      
                picture
                  source(srcset="img/IceTea/GT/large_376w.png 376w, img/IceTea/GT/large_752w.png 752w" media="(min-width: 1200px)")
                  source(srcset="img/IceTea/GT/medium_200w.png 200w, img/IceTea/GT/medium_400w.png 400w" media="(min-width: 900px)")
                  source(srcset="img/IceTea/GT/small_150w.png 150w, img/IceTea/GT/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/IceTea/GT/smaller_70w.png 70w, img/IceTea/GT/smaller_140w.png 140w" alt="Green Tea Honey")
              .list_product  
                picture
                  source(srcset="img/IceTea/PG/large_376w.png 376w, img/IceTea/PG/large_752w.png 752w" media="(min-width: 1200px)")
                  source(srcset="img/IceTea/PG/medium_200w.png 200w, img/IceTea/PG/medium_400w.png 400w" media="(min-width: 900px)")
                  source(srcset="img/IceTea/PG/small_150w.png 150w, img/IceTea/PG/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/IceTea/PG/smaller_70w.png 70w, img/IceTea/PG/smaller_140w.png 140w" alt="Pomegranate")
              .list_product
                picture
                  source(srcset="img/IceTea/P/large_376w.png 376w, img/IceTea/P/large_752w.png 752w" media="(min-width: 1200px)")
                  source(srcset="img/IceTea/P/medium_200w.png 200w, img/IceTea/P/medium_400w.png 400w" media="(min-width: 900px)")
                  source(srcset="img/IceTea/P/small_150w.png 150w, img/IceTea/P/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/IceTea/P/smaller_70w.png 70w, img/IceTea/P/smaller_140w.png 140w" alt="Peach")
        .col-sm-6.list-canadageese
          a(href="canada-geese.html")
            img.brands_logo(src="img/CanadaGeese/Logo/canada-gueese.svg" alt="CanadaGeese Logo")
            .list    
              .list_product
                picture
                  source(srcset="img/CanadaGeese/330ml/Carbonated/large_590w.png 590w, img/CanadaGeese/330ml/Carbonated/large_1180w.png 1180w" media="(min-width: 1200px)")
                  source(srcset="img/CanadaGeese/330ml/Carbonated/medium_250w.png 250w, img/CanadaGeese/330ml/Carbonated/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/CanadaGeese/330ml/Carbonated/small_150w.png 150w, img/CanadaGeese/330ml/Carbonated/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/CanadaGeese/330ml/Carbonated/smaller_70w.png 70w, img/CanadaGeese/330ml/Carbonated/smaller_140w.png 140w" alt="CanadaGeese")
              .list_product
                picture
                  source(srcset="img/CanadaGeese/330ml/Still/large_590w.png 590w, img/CanadaGeese/330ml/Still/large_733w.png 733w" media="(min-width: 1200px)")
                  source(srcset="img/CanadaGeese/330ml/Still/medium_250w.png 250w, img/CanadaGeese/330ml/Still/medium_500w.png 500w" media="(min-width: 900px)")
                  source(srcset="img/CanadaGeese/330ml/Still/small_150w.png 150w, img/CanadaGeese/330ml/Still/small_300w.png 300w" media="(min-width: 500px)")
                  img(srcset="img/CanadaGeese/330ml/Still/smaller_70w.png 70w, img/CanadaGeese/330ml/Still/smaller_140w.png 140w" alt="CanadaGeese")
              .list_product
                picture
                  source(srcset="img/CanadaGeese/750ml/large_747w.png 747w, img/CanadaGeese/750ml/large_1494w.png 1494w" media="(min-width: 1200px)")
                  source(srcset="img/CanadaGeese/750ml/medium_300w.png 300w, img/CanadaGeese/750ml/medium_600w.png 600w" media="(min-width: 900px)")
                  source(srcset="img/CanadaGeese/750ml/small_200w.png 200w, img/CanadaGeese/750ml/small_400w.png 400w" media="(min-width: 500px)")
                  img(srcset="img/CanadaGeese/750ml/smaller_100w.png 100w, img/CanadaGeese/750ml/smaller_200w.png 200w" alt="CanadaGeese")      
  .container-fluid.container--paralax1
  .container-fluid.container--white
    .container
      h1.display-4.text-center Some of Our #[span Highly Valued Distribution Outlets]!
        hr.my-4
      .display-row
        img.partner_logo(src="img/companies/antojo-logo.svg" alt="company")
        img.partner_logo(src="img/companies/discount.svg" alt="company")  
        img.partner_logo(src="img/companies/gift.svg" alt="company")
      .display-row    
        img.partner_logo(src="img/companies/peter.svg" alt="company")
        img.partner_logo(src="img/companies/scanway.svg" alt="company")
        img.partner_logo(src="img/companies/swarman.svg" alt="company")
      .display-row  
        img.partner_logo(src="img/companies/tatical.svg" alt="company")
        img.partner_logo(src="img/companies/togo.svg" alt="company")
        img.partner_logo(src="img/companies/dominis.svg" alt="company")                
  .container-fluid.container--paralax2
  include modules/_footer.pug     
      
